.Sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80px;
    height: 100vh;
    padding: 1em 2em;

    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgb(27, 27, 27) 92%, rgb(49, 49, 49) 100%);
}

.SidebarButton, .SidebarButtonActive{
    border: none;
    width: 80px;
    height: 50px;

    border-left: 5px solid transparent;
    background-color: transparent;
    transition: .3s;
    color:  white;

    font-size: 14pt;
}
.SidebarButton:hover{
    background-color: #3a3a3a;
}
.SidebarButtonActive{
    background-color: #222222;
    border-left: 5px solid white;
}