.Dashboard{

    display: grid;
    grid-template-areas:
        "overview overview toolbar"
        "overview overview toolbar"
        "overview overview toolbar"
        "overview overview toolbar";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    padding: 1em;
}
.DashboardTitle{
    font-size: 16pt;
    font-weight: 500;
    margin: 1em .5em;
}
.DashboardOverview{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    grid-area: overview;
}
.DashboardToolbar{
    border: 1px dotted green;
    grid-area: toolbar;
}