*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

.editor{
    width: 100%;
    height: 100vh;

    background-color: #151520;
    color: #B3B3B3;
}

/* LANDING PAGE */

.landing-header-container, .landing-erp-container, 
.landing-tools-container, .landing-sims-container,
.landing-footer-container{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing-erp-container{
    background: fixed;
    background-image: url("./public/images/marcin-jozwiak-kGoPcmpPT7c-unsplash.jpg");
    background-color: white;
    background-size: cover;
    background-position: center;
}

.landing-credits-photo, a, a:visited{
    position: relative;
    top: 90%;
    left: 0%;

    font-size: 12pt;
    padding: 1em;
    color: white;

    text-align: right;
}

.landing-erp-box-center{
    
    width: 650px;
    height: 650px;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.205);
    backdrop-filter: blur(0px);
    box-shadow: 10px 0px 10px 0 rgba(0, 0, 0, 0.753);
    transition: 300ms;

    padding: 1em;
}

.landing-erp-box-center:hover{
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.479);

}

.landing-header-container{
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.landing-menu{
    margin-top: 1em;
    padding: .5em;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.753);
    backdrop-filter: blur(10px);
    border-radius: 10px;

}

.landing-menu-item, .landing-menu-item-start, .landing-menu-item-end,
.landing-menu-item:hover, .landing-menu-item-start:hover, .landing-menu-item-end:hover,
.landing-menu-item:visited, .landing-menu-item-start:visited, .landing-menu-item-end:visited{

    text-decoration: none;
    color: white;
    font-weight: 400;
    margin: 0 1em 0 1em;
    border-bottom: 2px solid transparent;
    transition: 200ms;
    padding: 1em;
} 

.landing-menu-item:hover, .landing-menu-item-start:hover, .landing-menu-item-end:hover{
    border-bottom: 2px solid white;
}

.landing-menu-item-start, .landing-menu-item-start:hover{
    margin-left: 1em;
    margin-right: 1em;
    padding: 0;
}

/* SELECTOR */

/* .//Aplicativo Geral */
.selector-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151520;
    color: #B3B3B3;
    width: 100%; height: 100vh;
}
.selector-title-choosen, .selector-title-footer{
    font-size: 12pt;
    font-weight: 400;
}
.selector-title-footer{
    margin-top: 1em;
    color: #3f4a58;
}

.selector-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.selector-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #1F1F2D;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 300ms;

    box-shadow: 0px 0px 0px 0 rgba(199,130,0,1);
    margin: 1rem 2rem 1rem 2em; padding: 1em;

    width: 250px; height: 300px;

}
.selector-card:hover{

    box-shadow: 15px 15px 50px 0 #ffcc00c2;
    border: 1px solid #ffcc0073;
    scale: 1.01;

}
.selector-title{
    font-size: 16pt;
    font-weight: 400;
}
.selector-description{
    font-size: 12pt;
    font-weight: 300;
}
.selector-soon{
    color: rgba( 255,255,255, 0.1);
}

.selector-link, .selector-link:visited{
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #FFCC00;
    background-color: transparent;
    color: #FFCC00;
    transition: 200ms;

    padding: 1em;
    font-weight: 400;
}
.selector-link:hover{
    background-color: #FFCC00;
    color: black;
}

/* TAB CONTROL */
/*TABCONTROL MAIN APP*/
.tab-control-vert{
    display: flex;
    flex-direction: row;
}
/*SIDEBAR MAIN APP*/
.tab-sidebar-vert{

    width: 200px;
    height: 100vh;
    min-width: 5vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-right: 1px solid #3e454f;
}
.tab-button-vert, .tab-button-vert.active{

    width: 100%;
    height: 30px;

    border: none;
    transition: 300ms;

    background-color: transparent;
    border-right: 5px solid transparent;
    color: #465263

}
.tab-button-vert:hover{
    background-color: #6b7480;
    cursor: pointer;
}
.tab-button-vert.active{
    color: #B3B3B3;
    border-right: 5px solid #FFCC00;
}
.tab-title{
    color: #FFCC00;
    font-weight: 600;
    font-size: 14pt;
}

/* TABCONTROL HORIZON */

.tab-sidebar-horizon{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: flex-end;

    height: 80px;

    border-bottom: 1px solid #3e454f;
}

.tab-button-horizon, .tab-button-horizon:hover, .tab-button-horizon.active{
    border: none;
    padding: 1rem;
    background-color: transparent;
    color: #465263;
    transition: 200ms;
    border-top: 5px solid transparent;

}
.tab-button-horizon:hover{
    background-color: #6b7480;
    cursor: pointer;
    border-top: 5px solid transparent;
}
.tab-button-horizon.active{
    border-top: 5px solid #FFCC00;
    color: #B3B3B3;
}

/* HEADER */
.admin-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.admin-icon-div{
    color: #4f6486;
    padding: 1em;
}
.admin-icon-div h3{
    font-size: 12pt;
    font-weight: 400;
}
.admin-icon-div h4{
    font-size: 10pt;
    font-weight: 300;
}
 /* CARD CONTAINER */
 .card-bar{
    max-width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    color: #B3B3B3;
 }
/* CARD*/
 .card{
    width: 200px;
    height: 150px;

    background-color: #505050;
    border-radius: 5px;

    margin: 5px;

    border: 1px solid transparent;
    transition: 300ms;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
 }
 .card::before{
    content: "";
    background: rgb(0,0,0);
    background: linear-gradient(56deg, rgba(0,0,0,1) 0%, rgba(199,130,0,1) 49%, rgba(73,74,74,1) 100%);
    position: absolute;
    z-index: -1;
    filter: blur(20px);
    width: 50%;
    height: 50%;
 }
 .card:hover{
    border: 1px solid whitesmoke;
 }
 .card-icon-division{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    font-size: 18pt;
 }
 .card-title{
    font-size: 12pt;
 }
 .card-description{
    font-size: 10pt;
 }

 .card-values{
    font-family: "Rubik", sans;
    font-weight: 300;
 }
 .card-link, .card-link:hover, .card-link:visited{
    text-decoration: none;
    color: #B3B3B3;
    margin-left: 10px;
    border-radius: 10px solid transparent;
 }
 .card-link:hover{
    text-decoration: none;
    border-radius: 10px solid #b3b3b3;
 } .card-link:visited{
    text-decoration: none;
 }

 /* DASHBOARD */
 .dashboard{
    display: grid;
    grid-template-areas: "dash toolbar";
    
    width: 100%;
    height: 100%;
 }
 .dashboard-dash{
    
    padding: 1em;

    grid-area: "dash";
 }

 .dashboard-toolbar{
    

    grid-area: "toolbar";
}

.dashboard-transactions{

}
.dash-trans-title{
    color: #B3B3B3;
}
.dash-trans-list{
    overflow: auto;
}
.dash-trans-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dash-trans-info, .dash-trans-info-values{
    color: #B3B3B3;
    padding: 1em;
    font-size: 12pt;
    font-weight:300 ;
}
.dash-trans-info-values{
    font-family: 'Rubik, sans';
}
.dash-trans-icon{
    color: #B3B3B3;
}


/* NETWORK */
/* .Network{

} */

/* NODES */
.nodes{
    padding: 1em;
}

/* TABLE */
.table-main{
    padding: 2em;
    margin: .2em;
}
.nodes-table{

    width: 100%;
    height: 80vh;
    overflow: auto;
}

.table-main-header-tr, .table-main-tr, .table-main-tr-last{
    background-color: #3c4755;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #FFCC00;
    
    height: 50px;
}
.table-main-header-td{
    color: #29303A;
    padding: 1em;

    font-size: medium;
    font-weight: 600;

    border: none;
    background-color: transparent;
}
.table-main-tr, .table-main-tr-last{
    background-color: #29303A;
    border: 1px solid #181c22;
    transition: 200ms;
    border-radius: 0;

    height: 40px;
}
.table-main-tr:hover{
    background-color: #3f4a58;
    border: 1px solid #5d6c80;
}
.table-main-tr-last{
    border-radius: 0 0 5px 5px;
}
.table-main-td, .table-main-header-td, .table-main-td-large, .table-main-header-td-large{
    color: #B3B3B3;
    padding: 5px 10px 5px 10px;
    width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table-main-td{
    justify-content: flex-start;
}
.table-main-header-td, .table-main-header-td-large{
    font-weight: 400;
}
.table-main-td-large, .table-main-header-large{
    width: 150px;
}

.table-main-td-link{
    background-color: rgb(55, 161, 108);
    border-radius: 5px;
    padding: 5px;
    color: #252525;
    text-decoration: none;
}
.table-main-td-link:visited{
    color: #252525;
}
/* ORDERS */
/* SALES */