*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* EDITOR */
.editor{
    max-width: 100%;
    max-height: 100vh;
    overflow: auto;

    display: flex;
    flex-direction: row;

    background-color: #11161C;
}
/* SIDEBAR MENU OF SWITCH TABS */
#sidebar{
    width: 150px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;

    background-color: #29303A;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    padding-left: 10px;
}
/* LOGO SGI CONTAINER */
#logo{

    width: 100%;
    height: 80px;
    padding: 5px 10px 10px 5px;

}
/* LOGO SGI SVG */
#logo-svg{
    width: 80px;
    height: 80px;
}
/* BUTTON SIDEBAR IS CLASS */
.sidebar-button, .sidebar-button-active{
    width: 140px;
    height: 35px;
    border: none;
    transition: 300ms;

    background-color: transparent;
    color: #B3B3B3;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}
.sidebar-button:hover{
    background-color: #445061;  
}
.sidebar-button-active{
    background-color: #1D2229;
    color: #FFCC00;
    border-right: 5px solid #FFCC00;
}
#sidebar-button-title{
    font-weight: 400;
    font-size: 12pt;

    margin-left: 10px;
}
#tab-title, #tab-nodes-dashboard,#tab-nodes-title, #tab-network-title{
    margin-left: 1em;
    font-weight: 800;
    color: #FFCC00;
    
    font-family: "Bebas Neue", sans-serif;
    font-size: 20pt;
}
#tabs{
    width: 100%;
    height: 100vh;

}
/* DASHBOARD */
#Dashboard{
    width: 100%;
    max-height: 100%;
    
    margin-top: 1em;

    overflow: auto;
}
/* CARDS */
#cards{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

#card-main{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;

    margin: 1em;
    padding: .5em;

    border-radius: 5px;
    
    width: 200px;
    height: 150px;

    background-color: #29303A;
    color: #B3B3B3;
    
    transition: 200ms;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);

}
#card-main:hover{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    scale: 1.02;
}

#card-data-start, #card-data-end{
    width: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
#card-data-end{
    align-items: end;
}
#card-main h3{
    font-size: 10pt;
    font-weight: 500;
}

.card-values{
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 18pt;
}

/* NETWORK */

.graph, .svg-edges{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden
}

.node{
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(24, 24, 24);
    font-weight: bold;
    user-select: none;

    padding: 1em;

    box-shadow: 0 0 0 0 rgba(0,0,0,0);
     
}
.node:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.384);
}

#edges {
    stroke: #2c3e50;
    stroke-width: 2;
    stroke-dasharray: 5; /* Define o comprimento da linha */
    stroke-dashoffset: 100; /* Define a linha invisível */
    animation: draw 5s ease forwards; /* Animação para revelar a linha */
}
/* Animação de desenho da linha */
#edges:hover{
    stroke: #0e4d8d;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

#mousepos{
    position: fixed;
    width: fit-content;
    height: fit-content;
    background-color: #000;
    color: white;
    padding: 1em;
}

/* NODES */

#table{
    margin: 1em;
}
#table-header-row, #table-row, #table-row-last{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: .5em .2em .5em .2em;
}

#table-header-row{
    background-color: rgba(255, 255, 255, 0.664);
    backdrop-filter: blur(5px);

    border-radius: 10px 10px 0px 0px;  
}

#table-row, #table-row-last{   
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #4b4b4bc7;
    backdrop-filter: blur(8px);
    border: 1px solid transparent;
    transition: 200ms;
}
#table-row:hover, #table-row-last:hover{
    background-color: #6b6b6bc7;
    border: 1px solid #9b9a9ac7;
}

#table-row-last{
    border-radius: 0px 0px 10px 10px;  
}

#table-header-cell, #table-cell, #button-table-cell, #table-cell-category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 14pt;
    font-weight: 600;
    width: 120px;
}

#table-header-cell{
    color: rgb(68, 68, 68);
    background-color: transparent;
}

#table-body{
    background-color: transparent;
}

#table-cell, #button-tab-cell{
    font-weight: 300;
    font-size: 12pt;

}

#table-cell{
    color: white;
    justify-content: center;
    align-items: center;
}

#button-table-cell{
    border: none;
    border-radius: 10px;
    transition: 200ms;
    background-color: #4afa85c7;

    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;

    padding: .5em;

}

#button-table-cell:hover{
    background-color: #97ffb9c7;
    cursor: pointer;
}

#table-cell-category{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 15px;

    padding: 0.2em 1.5em 0.2em 1.5em;
    font-weight: 800;
    font-size: 10pt;
    min-height: 35px;

}
/* NODES */
#Nodes{
    background: rgba(71, 71, 71, 0.5);
    background-image: url("./public/vasilina-sirotina-RTNazR3AGSo-unsplash.jpg");
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

#header-nodes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#tab-nodes-title{

    color: rgba(255, 255, 255, 0.726);
    margin: 1em;
}

#nodes-container-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

#tab-nodes-btn, #tab-settings-node-btn{
    width: 100px;
    height: 50px;
    border: none;
    transition: 200ms;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 10px;
    color: #000;
    margin-right: 1.5em;
}
#tab-nodes-btn:hover{
    background-color: rgba(140, 18, 253, 0.726);
    cursor: pointer;
    color: white;
}
#tab-settings-node-btn:hover{
    background-color: rgba(206, 206, 206, 0.726);
    cursor: pointer;
    color: white;
}
#new-node-btn{
    padding: .5em;
    font-size: 18pt;
}

/* CLIENT PROPERTIES */

#client-properties{
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;

    background: rgb(0,0,0);
    background: linear-gradient(56deg, rgba(0,0,0,1) 0%, rgba(14,14,14,1) 71%, rgba(73,74,74,1) 100%);
    color: white;

    overflow-x: scroll;
    overflow-y: scroll;
}

#props-toolbar{
    position: fixed;

    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    width: 100%;
    background-color: rgba(245, 245, 245, 0.671);
    color: gray;

    font-weight: 600;
    
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;

}

#close-props-btn{
    width: 50px;
    height: 50px;

    border: none;
    background-color: transparent;
    transition: 200ms;
}
#close-props-btn:hover{
   background-color: #9067ff;
   cursor: pointer;
}

#close-props-icon{
    font-size: 18pt;
}

#client-name-props{
    font-size: 16pt;
    font-weight: 600;
    color: #000;
    margin-right: 1em;
}

#client-city-props{
    font-size: 12pt;
    font-weight: 300;

    color: #363636;
}

#client-category-props{
    font-size: 10pt;
    font-weight: 300;
}

/* CLIENTS TABLE */
#client-properties-main{
    margin-top: 50px;

    padding: 1em;

    overflow: hidden;
    overflow-y: auto;
    overflow-y: auto;
}




/* TABLE NODE PROPS */

/* #table-props{
    
} */

#tr-header-prop, #tr-prop, #tr-prop-lastrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 1px solid transparent;
    transition: 200ms;
    width: 80%;

    margin: 2px 0px 2px 0px;
    padding: 0 1em 0 1em;
}

#tr-header-prop{
    background-color: rgba(255, 255, 255, 0.637);
    color: black;
    font-weight: 600;

    border-radius: 10px 10px 0px 0px; 
}
#tr-prop, #tr-prop-lastrow{
    background-color: #4b4b4bc7;
}
#tr-prop:hover, #tr-prop-lastrow:hover{
    background-color: #585858;
    border: 1px solid whitesmoke;
}
#tr-prop-lastrow{
    border-radius: 0 0 10px 10px; 
}

#td-header-prop, #td-prop, #td-prop-value{
    padding: .2em;
    margin-left: .1em;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    min-width: 40px;
}

#td-prop-value{
    font-family: 'rubik', sans;
    transition: 200ms;
}

#td-prop-value:hover{
    color: #5ad178;
}


@media only screen and (min-width: 768px) {
    
}