*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{

}


.editor
{
    display: flex;
    flex-direction: row;

    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
}

.toolbar
{
    background-color: white;
    border-left: 1px gray;

    width: 80%;
    height: 100%;
}

#mycanvas
{
    background-color: aliceblue;
}