.SelectorCard, .SelectorCardDisabled{
    width: 250px;
    height: 300px;

    background-color: rgba(50, 0, 83, 0.616);
    backdrop-filter: blur(15px);
    color: rgb(255, 210, 251);
    
    margin: 1em 3em;
    padding: 1em;
    
    border-radius: 10px;
    border: 1px solid rgba(255, 27, 225, 0.507);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.SelectorCardDisabled{
    border: 1px solid rgba(255, 114, 236, 0.226);
}

.SelectorSoon{
    color: rgba(255, 210, 251, 0.575);
}

.SelectorTitle{

}

.SelectorDescription{

}
.SelectorLink, .SelectorLink:visited{
    
    border: 2px solid;
    border-image: linear-gradient(45deg, #ff00cc, #ff7700);
    border-image-slice: 1;
    padding: 1em 2em;
    transition: .3s;
    background: transparent;

    text-decoration: none;
    color: #ff7300;
}
.SelectorLink:hover{
    border: 2px solid transparent;
    background: linear-gradient(45deg, #ff00cc, #ff7700);
    color: white;
}